%h1 Home#index
%p Find me in app/views/home/index.html.haml
<h1>TOP</h1>
    <% if user_signed_in? %>
    <%= link_to "Logout",   destroy_user_session_path, method: delete %>
    <% else %>
    <%= link_to "Login", new_user_session_path %>
<% end %>